body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
}

.main {
  padding: 20px;
  margin: auto;
  max-width: 800px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

.response {
  background-color: #cdcdcd;
  padding: 15px;
  overflow: auto;
  word-wrap: break-word;
}

button, .button {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  background-color: #cacaca;
  margin: 2px;
}

.providers button {
  background: transparent;
  width: 64px;
  height: 64px;
  border: none;
}

.logout {
  margin-top: 20px;
}

button#facebook {
  background: url("images/icons/webicon-facebook.svg");
}

button#google {
  background: url("images/icons/webicon-google.svg");
}

button#microsoft {
  background: url("images/icons/webicon-windows.svg");
}

a {
  color: #454545;
}