body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
}

.main {
  padding: 20px;
  margin: auto;
  max-width: 800px;
}

h1 {
  font-size: 16px;
}

.response {
  background-color: #cdcdcd;
  padding: 15px;
  overflow: auto;
  word-wrap: break-word;
}

button {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  background-color: #cacaca;
  margin: 2px;
}